<section class="tab">
    <ul class="nav nav-pills">
        <li ng-class="{active:tab.isSet(1)}">
            <a href ng-click="tab.setTab(1)">Descriptions</a></li>
        <li ng-class="{active:tab.isSet(2)}">
            <a href ng-click="tab.setTab(2)">Specifications</a></li>
        <li ng-class="{active:tab.isSet(3)}">
            <a href ng-click="tab.setTab(3)">Reviews</a></li>
    </ul>

    <!--  Description Tab's Content  -->
    <div ng-show="tab.isSet(1)" ng-include="'pages/product-description.html'"></div>
<!--    <product-description></product-description>-->

    <!--  Spec Tab's Content  -->
    <div product-specs ng-show="tab.isSet(2)"></div>

    <!--  Review Tab's Content  -->
    <product-review ng-show="tab.isSet(3)"></product-review>
    
</section>